/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #ffffff;
}
.nav {
  z-index: +1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: rgba(99, 99, 99, 0.2);;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: #000000;
  text-decoration: none;
}
.nav .logo {
  font-size: 22px;
  font-weight: 500;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #4a98f7;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}
.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

.currencySelect{
  width: 60px;
  height: 30px;
}

.cartDetails{
  background: #000000;
  border-radius: 50%;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}
/*------------------------------------------------------------------- Section 1----------------------------------------------------------------*/

.section--1 {
  margin-top: 4%;
  background: #ffffff;
  padding: 20px;
}
.section--1 .categories{
  display: grid;
  grid-template-columns: repeat(2, auto); /* Two columns */
  width: 100%;
  gap: 30px;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}



.section--1 .categories .part1-A {
  width: 500px;
  height: 500px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  display: flex;
}

.section--1 .categories .part1-A .clock{
  border: 1px solid #606060;
  color: white;
  padding: 40px;
  border-radius: 10px;
  background-color: #646464;
  margin: 0 auto;
}
#Date{
  font-size: 20px !important;
  text-align: center;
}
.clock ul{
  list-style: none;
  display: flex;
  font-size: 90px;
  gap: 15px;
}


.section--1 .categories .part1-B {
  width: 520px;
  height: 500px;
  background: #fff;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  justify-content: center;
}

.section--1 .categories .part1-B .category-item2{
  width: 100%;
  height: 100%;
}




.section--1 .categories .part1-B img{
  width: 100%;
  height: 90%;
  object-fit:contain;
}


.section--1 .categories .part1-B .s1imgContainer {
  width: 500px;
  height: 500px;
  justify-content: center;
  background: #ffffff;
  display: flex;
  overflow: hidden;
}

.categories .part1-B button {
  height: 10%;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 1em;
  display: flex;
}



button .arrow {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
}
#right-btn {
  margin: auto 0 auto -2em;
}

#right-btn .arrow {
  transform: rotate(-45deg);
}

#left-btn {
  z-index: 0;
  margin: auto -2em auto 0;
}

#left-btn .arrow {
  transform: rotate(135deg);
}






/*------------------------------------------ image slider------------------------------*/




.section--3{
  margin-top: 10%;
}


.sliderContainer{
  max-width: 1200px;
  width: 95%;
  margin-top: 10%;
}

.slider-wrapper{
  position: relative;
}

.slider-wrapper .slide-button{
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  border: none;
  outline: none;
  background: #000000;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover{
  background: #444;
}

.slider-wrapper .slide-button#prev-slide{
  left: -20px;
  display: none;
}
.slider-wrapper .slide-button#next-slide{
  right: -20px;
}


.slider-wrapper .image-list{
  display: grid;
  font-size: 0;
  margin-bottom: 30px;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar{
 display: none;
}

.slider-wrapper .image-list .image-item{
  width: 325px;
  height: 400px;
  object-fit: cover;

}

.sliderContainer .slider-scrollbar{
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track{
  height: 2px;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track{
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb{
  position: absolute;
  height: 100%;
  height: 2px;
  width: 50%;
  background: #000000;
  border-radius: inherit;
  cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active{
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after{
  content:"";
  position: absolute;
  left: 0;
}



/*------------------------------------------------------------------- Section 2----------------------------------------------------------------*/
#section-2{
  background: #fafafa;
}

.section--2{
  margin-top: 3%;
  display: grid;
  grid-template-columns:20% 1fr;
  width: 80%;
  gap: 5px;
  align-items: start;
  margin: 0 auto;
  justify-content: center;
  
}
/*=============== left side================*/
/*-----------------------------------------------------------*/
.filters {
  grid-row: 1; /* Position at the first row */
  justify-self: end;
}

.accordion{
  width: 350px;
  top: 0;
}

 .accordion .heading{
  position: relative;
  margin: 10px 20px;
}

.accordion .heading .topic{
  position: relative;
  padding: 5px;
  background: #a09f9f;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.accordion .heading .topic::before{
  content: '+';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.accordion .heading.active .topic::before{
  content: '-';
}

.accordion .heading .card2{
  position: relative;
  height: 0;
  overflow: hidden;
  overflow-y: auto;
  transition: 0.5s;
}

.accordion .heading.active .card2{
  height: 250px;
  padding: 30px 45px;
}

#displayParcelOutput{
  color: #fff;
}

.card2 ul {
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
}

.card2 ul li {
  margin-bottom: 5px; /* Add some spacing between list items */
  padding: 8px 12px; /* Add padding for better readability */
  background-color: #f0f0f0; /* Set a background color */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
}

.card2 ul li:hover {
  background-color: #d0d0d0; /* Change background color on hover */
}


/*----------price Range-------------*/

.priceRangeWrapper{
  width: 300px;
  background: #ccc;
  border-radius: 10px;
  padding: 20px 25px 40px;
  margin: 0 auto;
  margin-top: 30px;
}

.priceRangeWrapper .priceRangeHeading h2{
  font-size: 25px;
  font-weight: 600;
}

.priceRangeWrapper .priceRangeHeading p{
  font-size: 15px;
  margin-top: 5px;
}

.priceRangeWrapper .priceInput{
  display: flex;
  width:100%;
  margin: 30px 0 35px;
}

.priceRangeWrapper .priceInput .priceField{
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}


.priceRangeWrapper .priceInput .priceField input{
  width: 100%;
height: 100%;
outline: none;
border: 1px solid #999;
border-radius: 5px;
text-align: center;
font-size: 18px;
margin-left: 12px;
}


.priceRangeWrapper .priceInput .priceField input::-webkit-outer-spin-button,
.priceRangeWrapper .priceInput .priceField input::-webkit-inner-spin-button {
  display: none;
}


.priceRangeWrapper .priceInput .separator{
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
}

.priceRangeWrapper .priceSlider{
height: 5px;
position: relative;
background-color: #ddd;
border-radius: 5px;
}

.priceRangeWrapper .priceSlider .progress{
position: absolute;
height: 100%;
left: 5%;
right: 65%;
background-color: #a09f9f;
border-radius: 5px
}

.priceRangeWrapper .priceRangInput{
  position: relative;
}

.priceRangeWrapper .priceRangInput input{
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  pointer-events: none;
  background: none;
  appearance: none;
  accent-color: #a09f9f;
}

.priceRangeWrapper .priceRangInput input::-webkit-slider-thumb{
  height: 15px;
  width: 15px;
  background-color: #a09f9f;
  border-radius:50%;
  pointer-events: auto;
  box-shadow: 0 0 6px rgba(0, 0, 0, .05);
}

.btnPriceRange {
  
  padding: 10px 20px;
  font-size: 16px;
  background-color: #a09f9f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 25px;
  margin-right: 5px;
}
.btnPriceRange:hover {
  background-color: #8a8787;
}

.btnResetPriceRange {
  
  padding: 10px 20px;
  font-size: 16px;
  background-color: #a09f9f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 25px;
}
.btnResetPriceRange:hover {
  background-color: #8a8787;
}
/*===============================RIGHT===========================*/

.boxContainer{
  display: grid;
  grid-template-columns: repeat(4, auto); /* Two columns */
  width: 100%;
  gap: 10px;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  background: #fafafa;
}

.boxContainer .box{
  flex: 1 1 300px;
  background: #fff;
  border: 1px solid rgb(0,0,0,.3);
  overflow: hidden;
  margin: 10px;
  position: relative;
  max-width: 300px;
}

.boxContainer .box .boxImage{
  padding: 10px;
  background: #eee;
  text-align: center;
  height: 200px;
  width: 100%;
}

.boxContainer .box .boxImage .imgBoxImage{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.boxContainer .box .productInfo .titleHeading{
  padding-left: 10px;
}

.boxContainer .box .productInfo .titleHeading .title{
  color: #666;
  font-size: 20px;
}

.boxContainer .box .productInfo .titleHeading .productBrand{
  color: #272626;
  font-size: 20px;
}

.boxContainer .box .productInfo .subInfo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  border-top: 1px solid rgba(0,0,0,.3);
}


.boxContainer .box .productInfo .subInfo .price{
  color: #ff3300;
  font-size: 20px;
}

.box .productOverlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 100%;
  background: rgba(0,0,0,.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: none;
  transform: scale(0);
  
}

.box:hover .productOverlay{
  transform: scale(1);
}

.box .productOverlay a{
  color: #666;
  background: #fff;
  margin: 10px;
  padding: 13px 15px;
  font-size: 25px;
  text-decoration: none;
  right: -50px;
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition-delay: calc(.1s * var(--i))
}

.box:hover .productOverlay a{
  opacity: 1; 
  transform: translateY(0);
 /* transform: translateY(0px);*/
}

.box:hover .productOverlay a:hover{
  color: orange
}



/*===============================Product Page===========================*/
/* ==========  CLASSES TO MAKE MODAL WORK =============== */
.productHidden {
  display: none;
}

.productMainWrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}



.productModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
/* ==========  CLASSES TO MAKE MODAL WORK =============== */
.productImage{
  width: 100%;
  display: block;
}


.productMainWrapper .productContainer{
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

.productMainWrapper .productContainer .closeProductContainer{
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 3rem;
  color: #0e0e0e;
  cursor: pointer;
  border: none;
  background: none;
}

.productMainWrapper .productContainer .closeProductContainer:hover{
  color: #f30909;
}

.productMainWrapper .productContainer .productDiv{
  margin: 1rem 0;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fff;
  border-radius: 3px;
  column-gap: 10px;
}

.productMainWrapper .productContainer .productDiv .productDivLeft{
  padding: 20px;
}

.productMainWrapper .productContainer .productDiv .productDivRight{
  padding: 20px;
}

.productMainWrapper .productContainer .productDiv .productDivLeft .productImgContainer{
  width: 300px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.productMainWrapper .productContainer .productDiv .productDivLeft .productImgContainer img{
  margin: 0 auto;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.productMainWrapper .productContainer .productDiv .productDivLeft .productHoverContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.productMainWrapper .productContainer .productDiv .productDivLeft .productHoverContainer div{
  border: 1px solid #FF9F00;
  padding: 1rem;
  border-radius: 3px;
  margin: 0 4px 8px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 70px;
  height: 70px;
}

.productActive{
  border-color:#FF9F00;
}

.productMainWrapper .productContainer .productDiv .productDivLeft .productHoverContainer div:hover{
  border-color: rgb(255, 255, 255);
}
.productMainWrapper .productContainer .productDiv .productDivLeft .productHoverContainer div img{
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: contain;
}

.productMainWrapper .productContainer .productDiv .productDivRight span{
  display: block;
}

.productMainWrapper .productContainer .productDiv .productDivRight .productName{
  font-size: 26px;
  margin-bottom: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  opacity: 0.9;
}

.productMainWrapper .productContainer .productDiv .productDivRight .productPrice{
  font-weight: 700;
  font-size: 24px;
  opacity: 0.9;
  font-weight: 500;
}

.productMainWrapper .productContainer .productDiv .productDivRight .productRating{
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.productMainWrapper .productContainer .productDiv .productDivRight .productRating span{
  margin-right: 6px;
}

.productMainWrapper .productContainer .productDiv .productDivRight .productDescription{
  font-weight: 18px;
  line-height: 1.6;
  font-weight: 300;
  opacity: 0.9;
  margin-top: 22px;
}

.productMainWrapper .productContainer .productDiv .productDivRight .productBtngroups button{
  display: inline-block;
  font-size: 16px;
  font-family: inherit;
  text-transform: uppercase;
  padding: 15px 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.productMainWrapper .productContainer .productDiv .productDivRight .productBtngroups button .fas{
  margin-right: 8px;
}

.productMainWrapper .productContainer .productDiv .productDivRight .productBtngroups .add-cart-btn{
  background-color: #FF9F00;
  border: 2px solid #FF9F00;
  margin-right: 8px;
}

.productMainWrapper .productContainer .productDiv .productDivRight .productBtngroups .add-cart-btn:hover{
  background-color: #fff;
  color: #FF9F00;
}

.productMainWrapper .productContainer .productDiv .productDivRight .productBtngroups .buy-now-btn{
  background-color: #000;
  border: 2px solid #000;
}

.productMainWrapper .productContainer .productDiv .productDivRight .productBtngroups .buy-now-btn:hover{
  background-color: #fff;
  color: #000;
}



/*===============================floating action button===========================*/
.floatingContainer{
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}

.floatingContainer:hover{
  height: 300px;
}



.floatingContainer:hover .floatingButton{
  box-shadow: 0 10px 25px #093ed1;
  transform: translateY(5px);
  transition: all 0.3s;
}


.floatingContainer .floatingButton{
  position: absolute;
  width: 65px;
  height: 65px;
  background: #2cb3f0;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  color: #fff;
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.floatingContainer .floatElement{
  position: relative;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px 0;
  color: #fff;
  display: grid;
  place-items: center;
  z-index: 0;
  opacity: 0;
  cursor: pointer;
  background: #2cb3f0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.floatingContainer:hover .floatElement{
  transform: translateX(-10px) scale(1);
  opacity: 1;
}

.floatingContainer .floatElement:nth-child(1){
  background: #2cb3f0;
}

.floatingContainer .floatElement:nth-child(2){
  background: #068a39;
}

.floatingContainer .floatElement:nth-child(3){
  background: #8d7405;
}


/*===============================slide in popContainer===========================*/



.sidePopup{
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 5;
}



.sideMainPopup{
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  z-index: 1;
  background: rgb(199, 199, 199);
  padding: 30px 20px;
  line-height: 1rem;
  display: block;
  transform: translateX(100%);
  place-items: center;
}

@keyframes slide-in {
  0%{
      transform: translateX(100%);
  }
  100%{
      transform: translateX(0);
  }
}

@keyframes slide-out {
  0%{
      transform: translateX(0);
  }
  100%{
      transform: translateX(100%);
  }
}

.sideCloseBtn{
  border: .6px solid white;
  padding: 10px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: .5s ease all;
}

.sideCloseBtn:hover{
  background: rgb(248, 6, 6);
}

.sidePopupContent p {
  font-size: 1.5rem;
  line-height: 2rem;

}

/*=============cart Box===========*/



.cartBox{
  width: 90%;
  height: 200px;
  background: #fff;
  padding: 5%;
  border-radius: 10px;
  margin-top: 40px;
  display: grid;
  grid-template-columns:repeat(5, 1fr);
  align-items: center;
}

.cartMathHome{
  width: 90%;
  background: #000000;
}
.cartBox2{
  width: 90%;
  height: 200px;
  background: #fff;
  padding: 5%;
  border-radius: 10px;
  margin-top: 40px;
  align-items: center;
}

.cartBox2 h3{
  padding: 10px;;
}

.cartBox2 .btnPurchase{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #077932;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 25px;
}

.cartBox .cartimg{
  width: 100px;
}

.cartBox .cartimg .cartimgIMG{
  width: 100%;
  object-fit: contain;
}

.cartBox .cartProductDetail p{
 margin: 0 auto;
 font-size: 20px;
}

.cartPrice{
  margin: 0 auto;
}

.cartPrice p{
  padding: 2px;
}
.cartSpinner{
	position: relative;
	width: 100px;
  height: 40px;
  background: #b4b1b1;
  border-radius: 50px;
  margin: 0 auto;
}

.cartBox .cartSpinner .cartIncrement{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 13px;
  display: block;
  font-size: 1.2em;
  cursor: pointer;
  color: #000000;
  z-index: 100;
}

.cartBox .cartSpinner .cartDecrement{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
  display: block;
  font-size: 1.2em;
  cursor: pointer;
  color: #000000;
  z-index: 100;
}

#spinnerBox span{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 2.8rem;
  font-size: 1.5em;
  display: none;
}

#spinnerBox span:nth-child(1){
  display: initial;
}

.cartBox .cartDecision{
  display: flex;
  padding: 10px;
} 

.cartBox .cartDecision span{
  font-size: 30px;
  margin-right: 13px;
  cursor: pointer;
}

.cartBox .cartDecision span:nth-child(1){
  color: #068a39;
}

.cartBox .cartDecision span:nth-child(2){
  color: #8a2b06;
}



/*------------  notification Box  ------------ */

.notificationBox{
  background: #fff;
  width: 500px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-left: 8px solid #4dd816;
  position: absolute;
  top:80px;
  left: -100%;
  transition: all 0.5s;
  z-index: 5;
}

.notificationBoxText{
  display: block;
}

.notificationBoxText h3{
  display: block;
}
.notificationActive{
  left:30px
}

.notificationBox .doneClass,
.notificationBox .closeClass
{
  position: absolute;
  font-size: 26px;
}

.notificationBox .doneClass{
  left: 15px;
  background: #4dd816;
  border-radius: 50%;
  color: #fff;
}

.notificationBox .closeClass{
  right: 15px;
  cursor: pointer;
}


.notificationBox2{
  background: #fff;
  width: 700px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-left: 8px solid #d81616;
  position: absolute;
  top:80px;
  left: -100%;
  transition: all 0.5s;
  z-index: 5;
}



.notificationBoxText2{
  display: block;
}

.notificationBoxText2 h3{
  display: block;
}
.notificationActive{
  left:30px
}

.notificationBox2 .doneClass,
.notificationBox2 .closeClass
{
  position: absolute;
  font-size: 26px;
}

.notificationBox2 .dangerClass{
  left: 15px;
  background: #d81616;
  border-radius: 50%;
  color: #fff;
}

.notificationBox .closeClass{
  right: 15px;
  cursor: pointer;
}